html {
  scroll-behavior: smooth;
  background-color: rgb(255, 255, 255);
  font-size: 100%;
}
:root {
  --normal-title-font-size: 1rem;
  letter-spacing: 0.5px;
  --normal-heading-font-family: 'Odibee Sans';
  --line-shadow-dark: 0px 0px 10px 1px rgb(145, 137, 137);
}
body {
  padding: 0;
  margin: 0;
}
@media (min-width: 768px) {
  :root {
    --normal-title-font-size: 2rem;
  }
}
